* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  height: 100%;
  background-size: cover;
  background-color: #00BFFF;
  background-repeat: no-repeat;
}
body {
  margin: 0;
  margin-bottom: 50px;
  height: 100%;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.body-container {
  min-height: 100%;
  
}



.wrapper {
  overflow: auto;
  padding-bottom: 5vh;
}
.name {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: "Arial";
  font-size: 50px;
  font-weight: normal;
  line-height: 48px;
}

#tech-student {
  text-align: center;
  color: white;
  font-family: "Arial", serif;
  font-size: 23px;
  font-weight: normal;
  line-height: 25px;
  margin-bottom: 25px;
}

.main-content {
  text-align: justify;
  text-justify: inter-word;
  margin: 0 auto;
  width: 60%;
  padding: 20px 10px;
}

.main-content p {
  color: white;
  letter-spacing: 1px;
  text-align: center;
  size: 10em;
  font-family: "Arial", Helvetica, sans-serif;
}
.toggleNav {
  display: none;
}

a {
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 20px 0px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

a:hover {
  background: #4caf50;
  transition: all 0.5s;
}

.toggleNav {
  background-color: #333;
}
/* Flex container */
.top-nav ul {
  background-color: #333;
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Flex item */
.top-nav li {
  margin: 0;
  flex: 1 1 100%;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-bottom: 100px;
  /* height: 10em; */
  flex-wrap: wrap-reverse;
  
}

.project h2 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.project {
  text-align: center;
}

footer {
  position: relative;
  height: 7vh;
  background-color: #333;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-align: end;
  margin-top: -5vh;
  padding-top: 5vh;
  padding-right: 15px;
}

footer p {
  display: block;
  margin: auto;
  color: white;
}

.mailForm {
  margin: auto;
  margin-top: 20px;
  width: 50%;
  padding: 10px;
  display: block;
}

/* .contact-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

#contactID {
  margin: 30px 0;
}

/* Contact Form Styling */
.contact-form{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
.contact-form h1{
	background: #43D1AF;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.contact-form input[type="text"],
.contact-form input[type="date"],
.contact-form input[type="datetime"],
.contact-form input[type="email"],
.contact-form input[type="number"],
.contact-form input[type="search"],
.contact-form input[type="time"],
.contact-form input[type="url"],
.contact-form textarea,
.contact-form select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.contact-form input[type="text"]:focus,
.contact-form input[type="date"]:focus,
.contact-form input[type="datetime"]:focus,
.contact-form input[type="email"]:focus,
.contact-form input[type="number"]:focus,
.contact-form input[type="search"]:focus,
.contact-form input[type="time"]:focus,
.contact-form input[type="url"]:focus,
.contact-form textarea:focus,
.contact-form select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
  border: 1px solid #43D1AF;
}

.contact-form input[type="submit"],
.contact-form input[type="button"],
.contact-form input[type="reset"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #43D1AF;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.contact-form input[type="submit"]:hover,
.contact-form input[type="button"]:hover,
.contact-form input[type="reset"]:hover{
	background: #2EBC99;
}

#clearBtn {
  margin-top: 4%;
}
@media all and (max-width: 500px) {
  .top-nav ul {
    display: none;
    transition: all 0.5s ease;
  }
  .toggleNav {
    display: block;
  }

  .top-nav ul.open {
    display: flex;
    flex-direction: column;
  }

  .portfolio {
    flex-direction: column;
  }
  .project {
    margin-bottom: 5vh;
  }
}
